:root{
    --Green500: hsl(171, 66%, 44%);
    --Blue100: hsl(233, 100%, 69%);
    --Gray700: hsl(210, 10%, 33%);
    --Gray500: hsl(201, 11%, 66%);
    --Fontsize: 18px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;

}

.Buttons{
    padding: 10px;
    border-radius: 20px;
    color: white;
    border-style:none;
    width: 200px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

button:hover{
    transition:  0.3s ease-in-out;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: var(--Green500);
    transition:  filter 0.1s ease-in-out;
}


.ios{
    background: var(--Green500);
    font-size: 10px;
}

.mac{
    background: var(--Blue100);
    font-size: 10px;
}

 


#interface-container{
    width: 650px;
    margin: auto;
    background-color: white;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-family: Bai Jamjuree;
}


#History{
    text-align: center;
    font-size: 18px;
    padding: 20px;
    line-height: 1.6rem;
    margin: 50px;
}

#History div{
    padding: 10px;
}

#History p{
    padding: 0 60px;
    padding-top: 10px;
    font-size: 13px;
}

#Showcase{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 12px;
    margin: 0 50px 0 0;
}

#Showcase #snippet h3{
    font-size: 18px;
}

#Showcase #snippet{
    text-align: center;
    margin: 0 50px;
}

#computer-section{
    display: flex;
    flex-direction: row;
    margin:  0 30px 30px  0;
    gap: 1.2rem;
}

#computer-section #left-side img{
    position: relative;
    right: 13px;
    clip-path: inset(0 0 0 13px);
}


#computer-section #right-side div{
    padding: 10px;

}
.Description{
    text-align: center;
    line-height: 2rem;
    padding: 10px;
    margin: 50px 100px;
}
 

.Description p{
    font-size: 13px;
    padding-bottom: 25px;
}

#icons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.2rem;
    align-content: center;
}

#icons p{
    font-size: 10px;
}



#footer{
    background-color: whitesmoke;
}

#footer-container{
    display: flex;
    gap: 2rem;
    padding: 20px;
    margin: 20px;
    font-size: 13px;
    justify-content: space-between;
}


.inner-footer-container{
    display: flex;
    gap: 2rem;
}

#Brands{
    text-align: center;
}

#Brands li{
    list-style: none;
    display: inline;
    padding: 20px;
    margin: 10px;
}


.icon{
    transition: filter 0.3s ease;
    cursor: pointer;
}

.icon:hover{
    filter: brightness(0) saturate(100%) invert(60%) sepia(79%) saturate(546%) hue-rotate(75deg) brightness(70%) contrast(120%);
}



@media(max-width:600px){
    #interface-container{
        width:400px;
        background-image: url('../images/bg-header-mobile.png');
    }

    #History{
        margin: 30px;
    }

    #History p{
        padding: 10px 30px;
    }

    button{
        margin: 5px;
    }

    #Showcase{
        margin: 10px;
    }

    #computer-section{
        display: flex;
        flex-direction:column;
        text-align: center;
        margin: 20px;
    }

    #computer-section #left-side img{
        position: relative;
        right: 0px;
        clip-path: none;
    }

    .Description{
        margin: 10px;   
    }

    #Brands li{
        display: block;  
    }


    #icons{
        flex-direction: column;
        margin: 50px;
    }

    #icons p{
        font-size: 13px;
    }

    #footer-container{
        flex-direction: column;
        text-align: center;
    }

    .inner-footer-container{
        flex-direction: column;
        font-size: 16px;
    }

    #socials .icon{
        padding: 8px;
    }
}


  
